.table {
    &Filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &Action {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
