.split {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
    min-height: calc(100vh - 139px);

    &-gutter-col,
    &-gutter-row {
        padding: 6px;
        cursor: col-resize;
    }

    &-gutter-col {
        grid-row: 1/-1;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        background: var(--white-color) url("../assets/img/grip-vertical.svg") no-repeat center;
    }

    &-gutter-row {
        grid-column: 1/-1;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        background: var(--white-color) url("../assets/img/grip-horizontal.svg") no-repeat center;
    }
}

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row-1 {
    grid-row: 2;
}
